In [218]:
import numpy as np
import pandas as pd

In [331]:
df = pd.read_csv('data/mckinsey.csv')

In [221]:
df.shape

(1704, 6)

In [229]:
df[0:5]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [9]:
df.columns = ['country', 'year', 'population', 'continent', 'country', 'country']

In [252]:
df.loc[::-2]

          country  year  population continent  life_exp     gdp_cap
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1697     Zimbabwe  1977     6642107    Africa    57.674  685.587682
1695     Zimbabwe  1967     4995432    Africa    53.995  569.795071
...           ...   ...         ...       ...       ...         ...
9     Afghanistan  1997    22227415      Asia    41.763  635.341351
7     Afghanistan  1987    13867957      Asia    40.822  852.395945
5     Afghanistan  1977    14880372      Asia    38.438  786.113360
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
1     Afghanistan  1957     9240934      Asia    30.332  820.853030

[852 rows x 6 columns]

In [301]:
(df.query("year < 2000 and country == 'Iceland'")['population'] * df.query("year < 2000 and country == 'Iceland'")[
    'gdp_cap']).sum() / df.query("year < 2000 and country == 'Iceland'")['year'].shape[0]
# df.query("country =='Iceland'")['country']

4095342816.207885

In [307]:
df3 = df.query("year < 2000 and country == 'Iceland'")['population'].copy()

In [308]:
df3

684    147962
685    165110
686    182053
687    198676
688    209275
689    221823
690    233997
691    244676
692    259012
693    271192
Name: population, dtype: int64

In [335]:
df['total_continent'] = df['gdp_cap'].astype(dtype='int64') * df['population'].astype(dtype='int64')

In [336]:
df.groupby(by=['continent']).max(['total_gdp'])

           year  population  life_exp       gdp_cap  total_continent
continent
Africa     2007   135031164    76.442   21951.21176     447956414483
Americas   2007   301139947    80.653   42951.65309   12934261863597
Asia       2007  1318683096    82.603  113523.13290    6539349473064
Europe     2007    82400996    81.757   49357.19017    2650840041320
Oceania    2007    20434176    81.235   34435.36744     703650850560

In [96]:
student = [
    [1, 'laks', 75],
    [2, 'uthra', 95],
    [3, 'narayan', 100]
]

In [97]:
df1 = pd.DataFrame(student)

In [98]:
df1.shape

(3, 3)

In [128]:
df2 = df1.rename({0: 'roll', 1: 'name', 2: 'marks'}, axis=1)

In [106]:
print(df2)

   roll     name  marks
0     1     laks     75
1     2    uthra     95
2     3  narayan    100

In [133]:
df2.loc[0:1, ['marks', 'name']]

   marks   name
0     75   laks
1     95  uthra

In [138]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      object
 2   2       3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None

In [152]:
df.query('country == "Afghanistan"' & 'country == "India"')

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [179]:
type(df['country'])

pandas.core.series.Series

In [178]:
type(df[['country']])

pandas.core.frame.DataFrame

In [33]:
type(df.columns)

pandas.core.indexes.base.Index

In [41]:
type(df.shape)

tuple

In [44]:
df.iloc[20]

country           Albania
year                 1992
population        3326498
continent          Europe
life_exp           71.581
gdp_cap       2497.437901
Name: 20, dtype: object

In [49]:
df[['country', 'life_exp']]

          country  life_exp
0     Afghanistan    28.801
1     Afghanistan    30.332
2     Afghanistan    31.997
3     Afghanistan    34.020
4     Afghanistan    36.088
...           ...       ...
1699     Zimbabwe    62.351
1700     Zimbabwe    60.377
1701     Zimbabwe    46.809
1702     Zimbabwe    39.989
1703     Zimbabwe    43.487

[1704 rows x 2 columns]

In [58]:
df.loc[:, ['country', 'life_exp']]

          country  life_exp
0     Afghanistan    28.801
1     Afghanistan    30.332
2     Afghanistan    31.997
3     Afghanistan    34.020
4     Afghanistan    36.088
...           ...       ...
1699     Zimbabwe    62.351
1700     Zimbabwe    60.377
1701     Zimbabwe    46.809
1702     Zimbabwe    39.989
1703     Zimbabwe    43.487

[1704 rows x 2 columns]

In [59]:
df.iloc[:, 0:2]

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
...           ...   ...
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]

In [62]:
df.loc[:2, "country":"life_exp"]

       country  year  population continent  life_exp
0  Afghanistan  1952     8425333      Asia    28.801
1  Afghanistan  1957     9240934      Asia    30.332
2  Afghanistan  1962    10267083      Asia    31.997

In [66]:
df = pd.DataFrame({'emp_id': [1, 2], 'name': ['Ram', 'Shyam'], 'dept': ['IT', 'Ops']})

In [73]:
df_selected = df.iloc[0:2]

In [76]:
df_selected[['name', 'dept']]

    name dept
0    Ram   IT
1  Shyam  Ops

In [82]:
df.loc['name', :]

KeyError: 'name'

In [107]:
pd.unique(df[['country', 'population']])

ValueError: could not broadcast input array from shape (1704,2) into shape (1704,)

In [129]:
df.index = list(range(2, df.shape[0] + 2))

In [125]:
df.index

Index([   2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
       ...
       1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705],
      dtype='int64', length=1704)

In [158]:
df[]

SyntaxError: invalid syntax (3922570497.py, line 1)

In [157]:
df

,country,year,population,continent,life_exp,gdp_cap,"(2, 4)",2,4
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,2,2,2
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,2,2,2
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,2,2,2
3,Afghanistan,1967,11537966,Asia,34.020,836.197138,2,2,2
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,2,2,2
...,...,...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,Africa,62.351,706.157306,2,2,2
1700,Zimbabwe,1992,10704340,Africa,60.377,693.420786,2,2,2
1701,Zimbabwe,1997,11404948,Africa,46.809,792.449960,2,2,2
1702,Zimbabwe,2002,11926563,Africa,39.989,672.038623,2,2,2
1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298,2,2,2

In [155]:
df

          country  year  population continent  life_exp     gdp_cap  (2, 4)
0     Afghanistan  1952     8425333      Asia    28.801  779.445314       2
1     Afghanistan  1957     9240934      Asia    30.332  820.853030       2
2     Afghanistan  1962    10267083      Asia    31.997  853.100710       2
3     Afghanistan  1967    11537966      Asia    34.020  836.197138       2
4     Afghanistan  1972    13079460      Asia    36.088  739.981106       2
...           ...   ...         ...       ...       ...         ...     ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306       2
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786       2
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960       2
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623       2
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298       2

[1704 rows x 7 columns]

In [159]:
df[{'country': 'Harappa', 'year': 2024}]

TypeError: Passing a dict as an indexer is not supported. Use a list instead.

In [169]:
demo = pd.Series(['a', 'b', 'c', 'd', 'e'], index=[1, 5, 3, 7, 6])

In [173]:
demo.loc[1:6]

1    a
5    b
3    c
7    d
6    e
dtype: object

In [171]:
demo

1    a
5    b
3    c
7    d
6    e
dtype: object

In [180]:
df.loc[-1]

KeyError: -1

In [206]:
temp = df.set_index('country')
temp

             year  population continent  life_exp     gdp_cap  (2, 4)  2  4
country
Afghanistan  1952     8425333      Asia    28.801  779.445314       2  2  2
Afghanistan  1957     9240934      Asia    30.332  820.853030       2  2  2
Afghanistan  1962    10267083      Asia    31.997  853.100710       2  2  2
Afghanistan  1967    11537966      Asia    34.020  836.197138       2  2  2
Afghanistan  1972    13079460      Asia    36.088  739.981106       2  2  2
...           ...         ...       ...       ...         ...     ... .. ..
Zimbabwe     1987     9216418    Africa    62.351  706.157306       2  2  2
Zimbabwe     1992    10704340    Africa    60.377  693.420786       2  2  2
Zimbabwe     1997    11404948    Africa    46.809  792.449960       2  2  2
Zimbabwe     2002    11926563    Africa    39.989  672.038623       2  2  2
Zimbabwe     2007    12311143    Africa    43.487  469.709298       2  2  2

[1704 rows x 8 columns]

In [208]:
temp.loc['year']

KeyError: 'year'

In [216]:
a = pd.Series([1, 2, 3, 4, 5], index=[1, 2, 2, 2, 3])

In [217]:
a.loc[2:2]

2    2
2    3
2    4
dtype: int64

In [356]:
cont = df.sort_values(by=['population'], ascending=False)

In [357]:
cont.drop_duplicates(['continent'], keep='last')

,country,year,population,continent,life_exp,gdp_cap,total_continent
1092,New Zealand,1952,1994794,Oceania,69.390,10556.575660,21057045464
1548,Trinidad and Tobago,1952,662850,Americas,59.100,3023.271928,2003795550
684,Iceland,1952,147962,Europe,72.490,7267.688428,1075239854
84,Bahrain,1952,120447,Asia,50.939,9867.084765,1188450549
1296,Sao Tome and Principe,1952,60011,Africa,46.471,879.583586,52749669

In [347]:
df['continent'] == '[continent_list]'

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: continent, Length: 1704, dtype: bool

In [376]:
year_62 = df['year'] == 1962
life_exp = df['life_exp'] > 60
asia = df['continent'] == 'Asia'
asia_life_exp_year_62 = year_62 & life_exp & asia
numerator = df.query("'year'==1962" and "'life_exp' > 60" and "'continent' == 'Asia'")
denominator = df.query()

In [377]:
(df[asia_life_exp_year_62].shape[0] / df.shape[0]) * 100

0.4694835680751174

In [378]:
df[asia_life_exp_year_62]

,country,year,population,continent,life_exp,gdp_cap,total_continent
662,"Hong Kong, China",1962,3305200,Asia,67.650,4692.648272,15507998400
758,Israel,1962,2310904,Asia,69.390,7105.630706,16418972920
794,Japan,1962,95831757,Asia,68.730,6576.649461,630189634032
854,Kuwait,1962,358266,Asia,60.470,95458.111760,34199355828
866,Lebanon,1962,1886848,Asia,62.094,5714.560611,10781449472
1358,Singapore,1962,1750200,Asia,65.798,3674.735572,6430234800
1430,Sri Lanka,1962,10421936,Asia,62.192,1074.471960,11193159264
1502,Taiwan,1962,11918938,Asia,65.200,1822.879028,21716305036

In [375]:
53 / 1704

0.031103286384976527

In [386]:
df.values

array([['Afghanistan', 1952, 8425333, ..., 28.801, 779.4453145,
        6563334407],
       ['Afghanistan', 1957, 9240934, ..., 30.332, 820.8530296,
        7577565880],
       ['Afghanistan', 1962, 10267083, ..., 31.997, 853.10071,
        8757821799],
       ...,
       ['Zimbabwe', 1997, 11404948, ..., 46.809, 792.4499603, 9032718816],
       ['Zimbabwe', 2002, 11926563, ..., 39.989, 672.0386227, 8014650336],
       ['Zimbabwe', 2007, 12311143, ..., 43.487, 469.7092981, 5773926067]],
      dtype=object)

In [387]:
df

,country,year,population,continent,life_exp,gdp_cap,total_continent
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,6563334407
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,7577565880
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,8757821799
3,Afghanistan,1967,11537966,Asia,34.020,836.197138,9645739576
4,Afghanistan,1972,13079460,Asia,36.088,739.981106,9665720940
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,Africa,62.351,706.157306,6506791108
1700,Zimbabwe,1992,10704340,Africa,60.377,693.420786,7418107620
1701,Zimbabwe,1997,11404948,Africa,46.809,792.449960,9032718816
1702,Zimbabwe,2002,11926563,Africa,39.989,672.038623,8014650336
1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298,5773926067

In [388]:
titanic = pd.read_csv('data/titanic.csv')

In [389]:
titanic.shape

(10, 14)

In [399]:
titanic.T.drop_duplicates(keep="first").index

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'adult_male', 'embark_town'],
      dtype='object')

In [395]:
titanic.T

RangeIndex(start=0, stop=10, step=1)

In [398]:
titanic.drop_duplicates(keep="first")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town,pclass_1,price,gender
0,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton,3,7.9250,female
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,1,71.2833,female
3,0,3,male,NaN,0,0,8.4583,Q,Third,True,Queenstown,3,8.4583,male
4,1,2,female,14.0,1,0,30.0708,C,Second,False,Cherbourg,2,30.0708,female
6,0,1,male,54.0,0,0,51.8625,S,First,True,Southampton,1,51.8625,male
8,1,3,female,27.0,0,2,11.1333,S,Third,False,Southampton,3,11.1333,female

In [400]:
titanic.drop_duplicates(keep="last").index

Index([2, 5, 6, 7, 8, 9], dtype='int64')

In [422]:
data = {
    'city': ['Alaska', 'Texas', 'California', 'New York'],
    'area': [1723337, 695662, 423967, 783000],
    'population': [700000, 26448193, 38332521, 19651127]
}

df = pd.DataFrame(data)

In [403]:
df['area'] = df['population'] / df['area']

In [410]:
df.index = df['city']

In [412]:
df['area']

city
Alaska         0.406189
Texas         38.018740
California    90.413926
New York      25.097225
Name: area, dtype: float64

In [431]:
pop_den = df['population'] / df['area']

In [439]:
pop_den = pop_den.sort_values()

In [440]:
print(pop_den)

city
Alaska         0.406189
New York      25.097225
Texas         38.018740
California    90.413926
dtype: float64

In [435]:
type(pop_den)

pandas.core.series.Series

In [442]:
df.append([{'city': 'Colorado', 'Denver': 7287282, 'population': 38938983}])

AttributeError: 'DataFrame' object has no attribute 'append'

In [446]:
df2 = pd.DataFrame({'city': ['Colorado'], 'area': [7287282], 'population': [38938983]})

In [448]:
pd.concat([df, df2])

                     city     area  population
(Alaska,)          Alaska  1723337      700000
(Texas,)            Texas   695662    26448193
(California,)  California   423967    38332521
(New York,)      New York   783000    19651127
0                Colorado  7287282    38938983

In [449]:
df

                  city     area  population
city
Alaska          Alaska  1723337      700000
Texas            Texas   695662    26448193
California  California   423967    38332521
New York      New York   783000    19651127

In [476]:
df = pd.DataFrame([['a', 20], ['b', 21], ['c', 22]], columns=['name', 'age'])

In [477]:
df2 = pd.DataFrame([['d', 20], ['e', 21], ['f', 22]], index=range(df.shape[0], df.shape[0] + len(data)),
                   columns=['name', 'age'])

In [484]:
pd.concat([df, df2], axis=0)

  name  age
0    a   20
1    b   21
2    c   22
3    d   20
4    e   21
5    f   22

In [490]:
df1 = pd.DataFrame({
    'cust_id': [101, 102, 103, 104],
    'name': ['rick', 'morty', 'pickle', 'jerry']})

df2 = pd.DataFrame({
    'order_id': ['OR1', 'OR3', 'OR23', 'OR42'],
    'cust_id': [102, 105, 101, 102],
    'amount': [1200, 650, 120, 989]})

In [491]:
df1.merge(df2)

   cust_id   name order_id  amount
0      101   rick     OR23     120
1      102  morty      OR1    1200
2      102  morty     OR42     989

In [542]:
data = {
    'name': ['Elon', 'Jeff', 'Bill', 'Falguni'],
    'gender': ['M', 'F', 'M', 'F'],
    'income': [53000, 28000, 25000, 44000]
}

df = pd.DataFrame(data)

In [543]:
df

      name gender  income
0     Elon      M   53000
1     Jeff      F   28000
2     Bill      M   25000
3  Falguni      F   44000

In [544]:
df[df['income'] == df['income'].max()].iloc[0]['name']

'Elon'

In [539]:
sample.iloc[0]['name']

'Falguni'

In [565]:
df1 = pd.DataFrame({'A': [1, 2, 3, 4],
                    'B': [11, 22, 33, 44],
                    'C': [111, 222, 333, 444]}, index=['first', 'second', 'third', 'fourth'])

df2 = pd.DataFrame({'A': ['a', 'b', 'c', 'd'],
                    'B': ['aa', 'bb', 'cc', 'dd'],
                    'C': ['aaa', 'bbb', 'ccc', 'ddd']}, index=['first', 'second', 'third', 'fourth'])

In [567]:
df2

        A   B    C
first   a  aa  aaa
second  b  bb  bbb
third   c  cc  ccc
fourth  d  dd  ddd

In [569]:
df3=pd.concat([df1,df2])

In [571]:
df4=df3.drop(["fourth"])

In [572]:
df4

        A   B    C
first   1  11  111
second  2  22  222
third   3  33  333
first   a  aa  aaa
second  b  bb  bbb
third   c  cc  ccc

In [574]:
type(df3.loc['fourth','A']*2)

pandas.core.series.Series

In [575]:
df4 = df3.reset_index().drop_duplicates(subset='index', keep='last')
df4 = df4.set_index('index').sort_index()

In [576]:
df4

        A   B    C
index
first   a  aa  aaa
fourth  d  dd  ddd
second  b  bb  bbb
third   c  cc  ccc

In [592]:
data = {
    'name': ['Mark', 'Ramilla', 'Deb', 'Laxman'],
    'profession': ['dev', 'mle', 'mle', 'hr'],
    'gender': ['male', 'female', 'male', 'male'],
    'age': [21, 20, 30, 27],
    'review': ['need improvement', 'Can be improved', 'Scope of improvement', 'Great'],
    'rating': [10, 5, 7, 9]
}

df = pd.DataFrame(data)

In [615]:
males = df.query("age >= 23 & age <= 30 & gender == 'male'").reset_index()

In [616]:
males

   index    name profession gender  age                review  rating
0      2     Deb        mle   male   30  Scope of improvement       7
1      3  Laxman         hr   male   27                 Great       9

In [612]:
males_s

2       Deb
3    Laxman
Name: name, dtype: object

In [617]:
df

      name profession  gender  age                review  rating
0     Mark        dev    male   21      need improvement      10
1  Ramilla        mle  female   20       Can be improved       5
2      Deb        mle    male   30  Scope of improvement       7
3   Laxman         hr    male   27                 Great       9

In [623]:
df.rename({0: 'hi'}, inplace=True)

In [624]:
df

       name profession  gender  age                review  rating
hi     Mark        dev    male   21      need improvement      10
1   Ramilla        mle  female   20       Can be improved       5
2       Deb        mle    male   30  Scope of improvement       7
3    Laxman         hr    male   27                 Great       9